<!DOCTYPE html>
<html>
<head>
	<title>Setting up BrowserSync with Gulp 4 and Express</title>
	<link rel="stylesheet" href="styles/main.css">
</head>
<body>
<h1>Setting up BrowserSync with Gulp 4 and Express</h1>
<ul>
	<li>Run <code>gulp</code> in your terminal.</li>
	<li>Edit <code>/src/views/index.ejs</code> and the browser view should update accordingly.</li>
</ul>
</body>
</html>